{% extends "fresh_start/base.html" %}
{% block content %}
<h1>About Fresh Start</h1>

<h1>Meet The Founders</h1>
<h2>Emma Cornelius, Brendan Ngwa Nforbi and Dario Pena are the founders of Fresh Start. With a common goal to assist
    justice
    impacted individuals and their families, an , they created Fresh Start.</h2>
<h3>When it comes to re-entry for formerly incarcerated individuals, we think of the necessities needed in order for
    them to
    repair their lives, re-invent themselves and ultimately gain a sense of stability. Thinking of re-entry programs,
    it’s
    fair to say that not all are living up to their missions and giving formerly incarcerated individuals the best
    support,
    leaving many to find their own path. Continued education is often a goal of formerly incarcerated individuals, while
    some may have completed their desired level while incarcerated or feel that earning money is more important than
    going
    back to school. Some may feel that school isn’t for them at all, feeling self-doubt and hopeless. In terms of
    employment, some formerly incarcerated Individuals may have connections with family/friends for a position, while
    others
    may choose blue collar jobs that require more manual than mental capabilities. There may also be those that feel
    insecure, inadequate and lack skills needed to be a qualified candidate for employment and therefore do not place
    employment as a priority.
    When it comes to housing, those leaving jails do not need to present an address to be released to, leaving many with
    the
    option to go to a shelter, or live as a homeless individual. Many prefer homelessness to avoid the restrictions,
    bullying and abuse placed on them, which are reminiscent of the criminal justice system. This lends to the ideal
    that
    shelter may not be the most important factor to all those returning. For those leaving correctional facilities, an
    address is required and many may have adequate shelter to return to. However, there is a necessity that all of the
    aforementioned individuals will seek; that being food.</h3>

<h3>With this being said, we have decided to create a place to discover and create food resources for justice
    impacted individuals and their families, while addressing the overlooked
    issue of food insecurity amongst this population. We intend for our user to gain access to
    organizations that offer food to justice impacted individuals, and allow individuals/
    organizations to add/offer a resource(s). We hope to create a community geared to providing the neccessary support
    to this voiceless population.
    Everyone deserves a fresh start after incarceration, as well as fresh food to nurture themselves.

    The high levels of food insecurity among formerly incarcerated people underscores
    the difficulty of reentry, and the lasting, life-threatening effects of incarceration. Apart from the obvious policy
    choice of
    incarcerating fewer people, states and counties must provide more robust support for recently released people.
    States that still
    limit access to food programs like SNAP (or food stamps) because of former convictions must immediately abandon this
    discriminatory
    practice, and invest in infrastructure so that formerly incarcerated people and food-insecure families have access
    to
    transportation, housing, and employment opportunities.

    Essentially, formerly incarcerated people are twice as likely to experience food security than the general
    population.
    Based on these facts, we have deemed food as the most essential necessity for survival upon ones release. This
    project
    will allow justice impacted individuals to obtain resources that will connect them to food/ basic necessities. It
    will
    also allow companies and organizations to offer/donate food to these individuals and hopefully reduce the
    devastating
    effects of food insecurity amongst justice impacted individuals and their families, such as recidivism or even
    death.</h3>

<h1>We believe that everyone deserves a FRESH STARt!</h1>


{% endblock content %}