{% extends "fresh_start/base.html" %}
{% block body %}
<h1>Add Resources</h1>
{% if message %}
<div>
    {{ message }}
</div>
{% endif %}
<form action="{% url 'add_resources' %}" method="post"
>
    {% csrf_token %}
    <input name="organization_name" type="text" />
    <input name="resource" type="text" />
    <input name="website_address" type="text" />
    <input name="street_address" type="text" />
    <input name="phone_number" type="text" />
    <input type="submit" value="login" />
    <br>
    <br>
    <br>
<h4>Thanks for your addition and support for justice impacted individuals, \
        as well as our mission to end food insecurity!</h4>
</form>
<a class="btn btn-primary" href="{% url 'add_resources' %}">Add Resources</a>
{% endblock %}