{% extends "fresh_start/base.html" %}
{% block content %}
<h1>Fresh Start: Add A Resource</h1>
<h4>*Please note: Once you add and submit your resource, it will be added to our Resources page. Feel free to add a
    resource other than food, that will support justice impacted individuals and their families.*</h4>


<form action="" method="POST" name="resourceform">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<h3 style="font-style: italic"> Thank you for your addition and support for justice impacted individuals, as well as our
    mission to end food insecurity
    !</h3>
{% endblock content %}