{% extends "fresh_start/base.html" %}
{% block content %}

<style>
    /* break form elements into separate lines using CSS */
    input[type='text'],
    input[type='url'],
    textarea {
        display: block;
    }
</style>

<h1>Edit Comment</h1>

<form action="{ % url 'edit' post_id % }" method="POST">
    {% csrf_token %} {{ form }}
    <input type="submit" name="save" value="Save" />
    <input type="submit" name="edit" value="Edit" />    
    <input type="submit" name="delete" value="Delete" />
</form>

{% endblock content %}