{% extends "fresh_start/base.html" %}
{% block content %}

<!-- Create tag (h1) to display larger font of title/Create id to change text color of title -->
<h1 id="title"> Welcome to Fresh Start!</h1>

<!-- Create tag to display smaller font of text than the title ablove/Use of inline css to change font- Style of text issues with main.css- 
    wasnt propogating through/rebuilding changes, therefore inline css was utilized thereafter-->
<h2 style="font-style: italic" id="description"> A place to add and recieve FOOD RESOURCES for justice impacted
    individuals and their families!</h2>

<!-- Create tag to display smaller font of text above/Use inline css to display bolder font-->
<h4 style="font-weight: bolder"> COVID-19 pandemic and the government’s insufficient response in providing economic
    relief has led to an enormous increase in food insecurity in this country. At least 54 million people are facing
    experiencing food insecurity (meaning they don’t have access to healthy food), and past research suggests that
    formerly incarcerated people, and the children of currently incarcerated people, are at especially high risks.
    Essentially,food insecurity is an often-overlooked consequence of incarceration, and it can’t be separated from the
    more well-known problems of homelessness and unemployment.</h4>

<!-- Add image link to display image on the page    -->
<img
    src="https://th.bing.com/th/id/R.f3ba07c0f0698cd9e06320515117a7f7?rik=bSs%2fLuAXBygarQ&riu=http%3a%2f%2fwww.bread.org%2fsites%2fdefault%2ffiles%2fstyles%2f875_wide%2fpublic%2fmass-incarceration-infographic-2015.jpg%3fitok%3dDk9z0uxc&ehk=gWcwAwvEScD4U04DVoZgYKDopL%2fWLx2JNbccff8CM8M%3d&risl=&pid=ImgRaw&r=0">

{% endblock content %}