{% extends "fresh_start/base.html" %}
{% block content %}
<h1> Fresh Start Resources</h1>


<article class="media content-section">
    <div class="media-body">
        <ul>
            {% for post in object_list %}
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <a href="{{ post.thumbnail }}">
                <p class="article-content">{{ post.thumbnail }}</p>
                <p class="article-content"><a href="{% url 'post-detail' post.id %}">Read More/Comments</a></p>
                {{ post.date_created }}
                {{ post.excerpt }}
                {% endfor %}
        </ul>
    </div>
</article>
{% endblock content %}