{% extends "fresh_start/base.html" %}
{% block content %}
<h1>Fresh Start Resources</h1>

<h2>Just Food</h2>
<a href="http://www.justfood.org"> Resource Website</a>

<a href="resourcecom.html">Comments Page</a>

<h2>Food Bank for New York City</h2>
<a href="http://www.foodbanknyc.org"> Resource Website</a>

<h2>Fortune Society</h2>
<a href="http://www.fortunesociety.org"> Resource Website</a>

<article class="media content-section">
    <div class="media-body">
        <ul>
            {% for post in object_list %}
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <img src="{{ post.thumbnail }}">
            <p class="article-content">{{ post.excerpt }}</p>
            <p class="article-content"><a href="{% url 'post-detail' post.id %}">Read More</a></p>
            {{ post.date_created }}
            {% endfor%}
        </ul>
    </div>
</article>
{% endblock content %}